@import "../global.scss";

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    header {
        width: 100%;
    }

    .content {
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 5px;

        >img {
            width: 250px;
        }

        >.text-content {
            width: 750px;
            padding: 5px;
            align-self: center;

            .page-text-title {
                text-align: center;
            }
        }

        @media (max-width: 999px) {
            .text-content {
                width: 500px;
            }
        }

        @media (max-width: 749px) {
            .text-content {
                width: 100%;
            }
        }
    }
}