# systemctl restart apache2

DirectoryIndex pages/home/home.php

RewriteEngine on
RewriteRule ^programTV$ pages/programTV/programTV.php [L]
RewriteRule ^onlineTV$ pages/onlineTV/onlineTV.php [L]
RewriteRule ^banner/ pages/banner/banner.php [L]

# Header add Access-Control-Allow-Origin "http://1-5channel-admin.tv"
Header add Access-Control-Allow-Origin "*"

Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
Header add Access-Control-Allow-Headers "Content-Type, Authorization"

Options -Indexes