.input-img {
    display: flex;
    align-items: center;
    flex-direction: column;

    >img {
        max-height: calc(100% - 40px);
        width: 100px;
        object-fit: contain;
    }

    >label {
        margin-top: 3px;
        padding: 5px;
        cursor: pointer;

        >input {
            display: none;
        }
    }
}