@import "../input-img/input-img.scss";

.programs-ad-crud-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    tr {

        &.changed {

            .name-text,
            .year-text,
            .buttons-container .change,
            .buttons-container .delete {
                display: none;
            }
        }

        &:not(.changed) {

            .name-input,
            .year-input,
            .buttons-container .save,
            .buttons-container .cancel {
                display: none;
            }
        }

        &.change-row {
            .description-textarea {
                width: 100%;
                height: 150px;
                resize: none;
            }

            .cell-title {
                font-weight: bold;
                text-align: center;
            }

            .buttons-container {
                vertical-align: top;
            }
        }

        >td {
            padding: 5px;

            &:not(.buttons-container) {
                border: solid 2px rgb(175, 175, 175);
            }
        }

        >th {
            padding: 5px;
        }


        .name-input {
            width: 100%;
        }

        .year-cell,
        .id-cell {
            width: 100px;

            >input {
                width: 100%;
            }
        }

        .buttons-container {
            width: 90px;
            white-space: nowrap;
            text-align: center;
        }
    }
}